@font-face {
  font-family: 'iconfont';  /* project id 572328 */
  src: url('https://at.alicdn.com/t/font_572328_gr69vxqxmax4unmi.eot');
  src: url('https://at.alicdn.com/t/font_572328_gr69vxqxmax4unmi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_572328_gr69vxqxmax4unmi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_572328_gr69vxqxmax4unmi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_572328_gr69vxqxmax4unmi.svg#iconfont') format('svg');
}
#title{
	width: 100%;
	height: 0.98rem;
	background-color: #D33D3E;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
}
.title_img{
	width: 2rem;
	height: 0.41rem;
	margin-top: 0.28rem;
	margin-left: 0.3rem;
	float: left;
}
.suosou{
	width: 4.52rem;
	height: 0.6rem;
	background-color: #fff;
	float: left;
	margin-left: 0.22rem;
	margin-top: 0.22rem;
	border-radius: 0.1rem;
	position: relative;
}
.suosou_kuang{
	position: absolute;
	top: 0;
	right: 0;
	width: 3.8rem;
	height: 0.6rem;
	border: 0;
	border-radius: 0.1rem;
	font-size: 0.3rem;
	color: #696969;
}
.suosou_btn{
	font-family: 'iconfont';
	font-size: 0.36rem;
	color: #999999;
    float: left;
    width: 0.62rem;
	height: 0.46rem;
    background-color: #fff;
    border: 0;
    position: absolute;
    left: 0px;
    top: 0.06rem;
    border-radius: 0.1rem;
}
.daohang{
	width: 100%;
	height: 0.88rem;
	padding-left: 0.28rem;
	padding-right: 0.83rem;
	background-color: #fff;
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	float: left;
	text-align: justify;
	text-align-last: justify;
	line-height: 0.88rem;
	font-size: 0.34rem;
	color: #000000;
	font-weight: bold;
	font-family: "微软雅黑";
	position: fixed;
	left: 0;
	top: 0.98rem;
}
.daohang span{
	display: inline-block;
}
.dh_span1{
	color: #D33F40;
}
.dh_jia{
	width: 0.84rem;
	height: 0.69rem;
	background-color: #fff;
	opacity: 0.9;
	padding-left: 0.28rem;
	position: absolute;
	top: -0.02rem;
	right: 0.27rem;
	font-size: 0.6rem;
	color: #000;
	font-weight: 300;
}
.dh_jtiao{
	width: 0.01rem;
	height: 0.46rem;
	background-color: #D7D7D7;
	position: absolute;
	top: 0.23rem;
	left: -0.01rem;
	float: left;
}
.neirong{
	width: 7.04rem;
	margin-left: 0.23rem;
	float: left;
	margin-top: 1.86rem;
}
.nr_1{
	width: 100%;
	padding-top: 0.21rem;
	padding-bottom: 0.18rem;
	border-bottom: 1px solid #D9D9D9;
	float: left;
}
.nr_1 p{
	font-size: 0.32rem;
	color: #000;
	font-weight: bold;
}
.nr_img{
	width: 100%;
	height: 1.68rem;
	margin-top: 0.11rem;
}
.nr_img1{
	width: 2.3rem;
	height: 1.68rem;
	float: left;
	border: 0.01rem solid #EBEBEB;
}
.nr_img2{
	background-image: url('../img/t6.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.nr_shuju{
	margin-top: 0.14rem;
	font-size: 0.17rem;
	color: #818181;
}
.nr_shuju span{
	font-size: 0.17rem;
	color: #818181;
}
.nr_sj1{
	margin-left: 0.19rem;
}
.nr_img3{
	background-image: url('../img/t7.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.nr_img4{
	background-image: url('../img/t5.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.nr_img5{
	background-image: url('../img/t9.png');
	background-size: cover;
	background-position: center;
}
.nr_img6{
	background-image: url('../img/t8.png');
	background-size: cover;
	background-position: top center;
}
.nr_img7{
	background-image: url('../img/t10.png');
	background-size: cover;
	background-position: center;
}
.nr_2{
	margin-bottom: 0.98rem;
}
.dibu{
	width: 100%;
	height: 0.98rem;
	background-color: #F9F9F9;
	position: fixed;
	bottom: 0;
	left: 0;
	padding:0.15rem 0.89rem 0.13rem ;
}
.db_1{
	width: 0.72rem;
	height: 0.72rem;
	text-align: center;
	float: left;
}
.db_1 p{
	font-family: 'iconfont';
	font-size: 0.37rem;
	color: #000;
}
.db_1 h5{
	font-size: 0.22rem;
	font-weight: 400;
	color: #818181;
}
.db_2{
	margin-left: 0.94rem;
}
.db_3 p{
	color: #FE5758;
}
.db_3 h5{
	color: #FE5758;
}